@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.name{
    color: #2847d1;
}

.red{
    color: red;
}

.con{
    color: royalblue;
}

.green{
    color: mediumseagreen;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}
.Statbox{
    background: seashell;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin: 5%;
}

.countrySelector{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.select{
    height: 30px;
    border: 1px solid royalblue;
    width: 30%;
    font-size: 15px;
}

.list{
    list-style: none;
}

@media (max-width : 110px){
    .select{
        height: 30px;
        border: 1px solid royalblue;
        width: 70%;
        font-size: 15px;
    }
}
@media(max-width:720px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
        margin-top: 20px;
    }
    .Statbox{
        margin-top: 20px;
    }
    .select{
        height: 30px;
        border: 1px solid royalblue;
        width: 70%;
        font-size: 15px;
    }
}